.mycontent {
    padding-top: 100px;
    border: 10px solid red;
    position: absolute;
  }
  
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #191063;
  margin: 0;
}
/* 
html, body {
  margin:0;
  padding:0;
  background-color:#fff;
} */

canvas {
  display: block;
  width:500px;
  height:500px;
  background:#000;
}

/* .list-group-item {
background-color: black !important;
} */

#note {
  position: absolute;
  color: rgba(249, 241, 204, 1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}