/* Figure out wheather to use master or main */
body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

/* .list-group-item {
  color: white !important;
  background-color: black !important;
} */